##						Emacs please make this -*- R -*-
## empty Renviron.site for R on Debian
##
## Copyright (C) 2008 - 2019  Dirk Eddelbuettel and GPL'ed
##
## see help(Startup) for documentation on ~/.Renviron and Renviron.site

# ## Example ~/.Renviron on Unix
# R_LIBS=~/R/library
# PAGER=/usr/local/bin/less

# ## Example .Renviron on Windows
# R_LIBS=C:/R/library
# MY_TCLTK="c:/Program Files/Tcl/bin"

# ## Example of setting R_DEFAULT_PACKAGES (from R CMD check)
# R_DEFAULT_PACKAGES='utils,grDevices,graphics,stats'
# # this loads the packages in the order given, so they appear on
# # the search path in reverse order.

## # We comment out this line in the default Renviron, you can re-enable it here
## # @R_PLATFORM@ can be eg x86_64-pc-linux-gnu, see /etc/R/Renviron for R_PLATFORM
## # @MAJ_MIN_VERSION@ is likely something like '3.4', see /etc/R/Renviron too
## #
## # Also note that you set this per-user via '%p' and '%v' for platform and version
#R_LIBS_USER=${R_LIBS_USER-'~/R/@R_PLATFORM@-library/@MAJ_MIN_VERSION@'}
## We want a USER LIBRARY so that regular users can build and load packages during development in RStudio /TA 190730
R_LIBS_USER=${R_LIBS_USER-'{{ RLIBS_USER }}'}

## edd May 2019
##
## Debian (and its derivatives) impose a set of compiler flags to prevent some known
## security issues with compiled code.  These flags then become defaults for R as well
## (see eg /etc/R/Makeconf) but nevertheless confuse R as warnings get triggers.  Users,
## on the other hand, are often stumped about these.  So with this variable we declare
## these options as known for the local checks on the machine this file is on.
##
## See Section 8 of the R Internals manual for many more options to customize tests.
## I compile myself, so will comment out this line until I know more /TA 210209
#_R_CHECK_COMPILATION_FLAGS_KNOWN_='-Wformat -Werror=format-security -Wdate-time'

{# Rstudio server and TikZDevice need TeXPATH to be set inside R environment #}
PATH={{ texlive_directory }}/{{ texlive_release }}/bin/x86_64-linux:${PATH}

# set renv local cache path on BAY (instead of HOME on luxor)
RENV_PATHS_ROOT={{ RENV_PATHS_ROOT }}

# set chromote package to use Chromium browser
CHROMOTE_CHROME={{ chromium_path_binary }}

# default is 512 lines (according to utils::savehistory docs, but ENV was not even set in my session)
R_HISTSIZE=2000
{# I'd like all .Rhistory files (from all projects for a particular user) to be
saved in the *same place* (same way as bash history behaves) to make it easier to
search and recall common R commands when using the R console
See implementation in .Last() function in Rprofile.site
Note, using tilde caused problem (~/~/.Rhistory) in RStudio Server, but not in R or radian terminal #}
R_HISTFILE=${HOME}/.Rhistory
R_HISTFILE_SESSION=${HOME}/.Rhistory.session
