##						Emacs please make this -*- R -*-
## empty Rprofile.site for R on Debian
##
## Copyright (C) 2008 - 2018  Dirk Eddelbuettel and GPL'ed
##
## see help(Startup) for documentation on ~/.Rprofile and Rprofile.site

# ## Example of .Rprofile
# options(width=65, digits=5)
# options(show.signif.stars=FALSE)
# setHook(packageEvent("grDevices", "onLoad"),
#         function(...) grDevices::ps.options(horizontal=FALSE))
# set.seed(1234)
# .First <- function() cat("\n   Welcome to R!\n\n")
# .Last <- function()  cat("\n   Goodbye!\n\n")


local({
   # Set CRAN mirror
   r <- getOption("repos")
   r["CRAN"] <- "{{ CRAN_repo }}"
   options(repos = r)
})

# specifying cairo explicitly to get around the warning
# In grDevices::png(f) : unable to open connection to X11 display
# Is this still necessary?? /TA 190816
# let's disable this in preparation for upgrade to R 4.0.3
#options(bitmapType="cairo")

{# Since blogdown v1.0:
+ by default, install_hugo() installs Hugo to ~/.local/share/Hugo on Linux now,
  instead of ~/bin/
+ `install_hugo()` installs the hugo executable to a directory with the directory name
  being the Hugo version number, e.g., `~/.local/share/Hugo/0.25.1`. This makes it possible
  to install multiple versions of Hugo on the same computer
NOTES
The reason to set it explicitly is that I want Hugo to be inside the tree exported to other
clients (making  R self-contained)
Note that {{ hugo_version }} is hard-coded in this role's defaults/main.yml
#}
# define where Hugo binary should be installed by blogdown::install_hugo()
options(blogdown.hugo.dir = '{{ R_bin_path }}/hugo')

# stop tinytex::latexmk() from updating our TeXLive packages
# https://tex.stackexchange.com/a/576191/10824
options(tinytex.install_packages = FALSE)

.First <- function() {
   if(interactive()) {
      {# NOTE: this use of interactive appears to cause an on-its-face unrelated warning
      when running devtools:check() in the console (but not in RStudio
      "detritus in the temp directory"
      https://stackoverflow.com/questions/62456137/r-cran-check-detritus-in-temp-directory #}
      # loadhistory() does not work at all in radian, nor in RStudio Server
      if (!(nzchar(Sys.getenv("RADIAN_VERSION")) || nzchar(Sys.getenv("RSTUDIO")))) {
         # fully qualified name is necessary, otherwise we get an error: "loadhistory() not found"
         # probably because utils:: is not yet loaded at this point in R startup
         utils::loadhistory(Sys.getenv("R_HISTFILE"))
      }
   }
}

.Last <- function() {
   if(interactive()) {
      # savehistory() does not work at all in radian, nor in RStudio Server
      # https://github.com/randy3k/radian/issues/98
      {# otherwise radian throws an error on every session start and refuses to exit properly
      Error in .External2(C_savehistory, file) : no history available to save
      Unfortunately this means that radian has its own history, separate from our neat solution for R
      -#}
      # nzchar() returns FALSE if ENV variable returned empty string, TRUE otherwise
      # RADIAN_VERSION is expected to return a version string or empty string
      # RSTUDIO is expected to return "1" or empty string
      if (!(nzchar(Sys.getenv("RADIAN_VERSION")) || nzchar(Sys.getenv("RSTUDIO")))) {
         {# Work around savehistory() so it *appends* to R_HISTFILE
         https://stackoverflow.com/questions/13522673/how-to-append-to-r-history-file-instead-of-overwriting
         Note that the console in RStudio Server has its own history database file
         ~/.local/share/rstudio/history_database which is not affected by this
         https://stackoverflow.com/questions/69758242/export-command-history-in-rstudio
         -#}
         # save history of the last session
         # savehistory() always overwrites, so .Rhistory.session contains only the last session
         {# http://web.mit.edu/r/current/lib/R/library/utils/html/savehistory.html -#}
         savehistory(Sys.getenv("R_HISTFILE_SESSION"))
         # append current session history to R_HISTFILE
         file.append(Sys.getenv("R_HISTFILE"), Sys.getenv("R_HISTFILE_SESSION"))
         # newline, otherwise the bash prompt overwrites the last R line (cosmetic)
         cat("\n")
      }
   }
}
